html {
  min-height: 100vh;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 20px;
}
.app {
  background: whitesmoke;
  min-height: 100vh;
}
main {
  padding: 0 1vw;
  min-height: 100vh;
}
h1 {
  font-size: 2.5em;
}
a {
  color: #02bfe6;
  font-weight: bold;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
.logo {
  font-weight: bold;
}

form > div {
  margin-bottom: 1em;
}
h6 {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
label {
  display: block;
}
radiogroup {
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  display: inline-block;
  border-radius: 3px;
}
input,
textarea,
select {
  font-size: 15px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 2px;
}
em {
  font-style: italic;
}
.nested {
  padding: 10px;
}
.nested > div {
  background: rgba(0,0,0,0.05);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
}
.form_wrapper{
  padding: 20px;
}

.react-resizable{
  max-width: 100%;
}

.app-header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 40px;
  position: sticky;
  top: 0;
  background: rgba(237, 220, 255, 0.9);
  z-index: 1;
  padding: 0 1vw;
}

header a {
  color: #333;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  display: inline-block;
}
header a span {
  padding: 0 .5em;
}
header a._current span {
  background: white;
  border-radius: 6px;
}

header a + a {
  margin-left: .5em;
}

.ui.input input:focus {
  outline: none;
  border-color: gray;
}

.ui-group {
  height: 40px;
  display: flex;
  position: relative;
}
.ui-group > * {
  flex: 1;
}
/* TODO: https://github.com/Semantic-Org/Semantic-UI/issues/5314*/
.ui-group .ui.button {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
}
.ui-group .ui.dropdown._attached_left,
.ui-group .ui.selection.dropdown._attached_left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.or.ui-custom {
  height: 40px;
  line-height: 40px;
  padding: 0 .5em;
  flex-grow: 0;
}
.events-table {
  background: white;
}
